@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Libra";
  font-style: normal;
  font-display: swap;
  src: url("../assets/Libra.ttf");
  unicode-range: U+4E00-9FFF; /* 中文字符范围 */
}

@font-face {
  font-family: "Libra2";
  font-style: normal;
  font-display: swap;
  src: url("../assets/OperatorMono-XLight.otf");
}

root,
html,
body {
  min-height: 100%;
  line-height: 2;
  font-family: "Libra", "__Montserrat_2c3fb3", "__Montserrat_Fallback_2c3fb3" !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 150 1.8% 22%;
    --background-main: 192 18.5% 94.7%;
    --background-nav: 0 0% 100%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --background-main: 0 0% 0%;
    --background-nav: 180 8.8% 11.2%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.01);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.01);
  background-color: #aaa;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--bg-color);
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: #f5f5f5;
}

ul,
ol {
  padding: 10px 0;
}

li {
  list-style-type: disc;
  margin-left: 20px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1rem 0;
  font-weight: bold;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

code {
  font-family: "Libra", "Libra2" !important;
  color: #50fa7b;
  background-image: linear-gradient(45deg, #00ff08, #ff80d8);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}

pre {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 0.5rem;
}

pre code {
  color: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
  background-image: none;
  -webkit-text-fill-color: inherit;
  -webkit-background-clip: inherit;
}

p img {
  max-width: 800px;
}

.myClass code {
  color: inherit;
}

blockquote {
  border-left: 4px solid hsl(var(--primary));
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  overflow: hidden;
}

th,
td {
  border: 1px solid hsl(var(--border));
  padding: 12px;
  text-align: left;
  transition: background-color 0.3s ease;
}

th {
  background-color: hsl(var(--primary) / 0.1);
  color: hsl(var(--primary));
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: hsl(var(--background) / 0.5);
}
